  body {
      position: relative;
  }
  #main {
      padding: 75px 10px 40px 10px;
      height:auto;color: #000000; 
  }
  #bio {
      padding: 75px 10px 40px 10px;
      height:auto;color: #000000;
  }
  #firstCode {padding: 50px 10px; height:auto;color: #000000;}
  #firstAccess {padding: 50px 10px;height:auto;color: #000000;}
  #webDeveloping {padding: 50px 10px;height:auto;color: #777777;}
  #okucalisogren {padding: 50px 10px;height:auto;color: #111;}
  #github {padding: 50px 10px;height:auto;color: #777777; }
  #javaNotlari {padding: 50px 10px;height:auto;color: #777777;}
  #blog {padding: 50px 10px;height:auto;color: #ffffff; background-color: #212429;}
  #firstAndroid {padding: 50px 10px;height:auto;color: #777777; }
  #firstiOS {padding: 50px 10px;height:auto;color: #777777; }
  #androidCanOkaySplashScreen {padding: 50px 10px;height:auto;color: #777777; }
  #androidFirebaseAuthentication {padding: 50px 10px;height:auto;color: #777777;}
  #androidFirebaseStorage {padding: 50px 10px;height:auto;color: #777777;}
  #reactNativeNotlarim {padding: 50px 10px;height:auto;color: #777777;}
  #reactNativeJsonDatabese {padding: 50px 10px;height:auto;color: #777777;}
  #reactNativeFirebaseAuthentication {padding: 50px 10px;height:auto;color: #777777; }
  #androidDynamicSplashScreen {padding: 50px 10px;height:auto;color: #777777;}
  #pythonNotlari {padding: 50px 10px;height:auto;color: #777777; }
  #projectEuler {padding: 50px 10px;height:auto;color: #777777;}
  #algorithms {padding: 50px 10px;height:auto;color: #777777;}
      .facebook{
          background:#4267B2;
          color: #ffffff;
      }

      .twitter{
          background:#1B95E0;
          color: #ffffff;
      }

      .linkedin{
          background:#0077B5;
          color: #ffffff;
      }

      .github{
          background:#24292E;
          color: #ffffff;
      }

      .youtube{
          background:#ff0000;
          color: #ffffff;
      }

      .instagram{
          background:linear-gradient(to left,#5F5FCD,#B93A93,#EC5A4B,#FCBC58);
          color: #ffffff;
      }
      .mediumlink{
          background: #12100E;
          color: #ffffff;
      }
      .sendmail{
          background:#000000;
          color: #ffffff;
      }

      .html5color{
          background:#F15B31;
          color: #ffffff;
      }

      .css3color{
          background:#007EC6;
          color: #ffffff;
      }

      .javascriptcolor{
          background:#F58333;
          color: #ffffff;
      }

      .phpcolor{
          background:#6E81B6;
          color: #ffffff;
      }

      .bio{
          padding: 15px;
        }
       .cvliste{
          padding-left:120px;
       }
        #contact{
          padding: 15px;  
        }

        #contact a{
          color:darkslategray; 
        }
