html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

body {
	line-height: 1
}

ol,
ul {
	list-style: none
}

blockquote,
q {
	quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden
}

body {
	background: #FFFFFF;
	color: #8E8E8E;
	font-family: 'Raleway', sans-serif;
	line-height: 1.3;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased
}

h1 {
	font-size: 65px;
	font-weight: 700;
	letter-spacing: 0.015em
}

p {
	font-size: 23px;
	padding: 5px
}

a,
a:active,
a:visited {
	color: #8e8e8e;
	text-decoration: none;
	font-weight: bold
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%
}

.links {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	box-sizing: border-box;
	font-size: 1.2em;
	display: inline-block
}

.links a span {
	-webkit-transition: all ease-in;
	-webkit-transform: scale(1);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1);
	opacity: 1
}

.links a span:hover {
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.3);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.3);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.3);
	transition: all 200ms ease-in;
	transform: scale(1.3);
	opacity: 0.9
}

.intro-rect {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 370px;
	width: 100%;
	text-align: center;
	display: block;
	background: #FFF
}

@media only screen and (max-width:1000px) {
	h1 {
		font-size: 70px
	}
}

@media only screen and (max-width:800px) {
	h1 {
		font-size: 48px
	}
	h1::after {
		height: 8px
	}
}

@media only screen and (max-width:568px) {
	.intro {
		padding: 0 10px
	}
	h1 {
		font-size: 30px
	}
	h1::after {
		height: 6px
	}
	p {
		font-size: 18px
	}
}

@media only screen and (max-width:320px) {
	h1 {
		font-size: 28px
	}
	h1::after {
		height: 4px
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@-moz-keyframes fadeIn {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes fadeIn {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.fade-in {
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s
}

.fade-in.one {
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	animation-delay: 0.3s
}

.fade-in.two {
	-webkit-animation-delay: 1.3s;
	-moz-animation-delay: 1.3s;
	animation-delay: 1.3s
}

.fade-in.three {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s
}
